<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Parking Manager</h1>
      <%= link_to "+ Add a new parking", new_parking_path, class: "btn btn-primary" %>
      <%= link_to "See the map", map_path, class: "btn btn-danger" %>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <% @parkings.first.attributes.each do |attr_name, attr_value| %>
              <th><%= attr_name.capitalize %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @parkings.each do |parking| %>
            <tr>
              <% parking.attributes.each do |attr_name, attr_value| %>
                <td>
                <% if attr_name == "main_picture" %>
                  <%= image_tag attr_value, class: "width-100" %>
                <% else %>
                  <%= attr_value %>
                <% end %>
                </td>
              <% end %>
              <td><%= link_to "Delete", parking_path(parking), method: :delete, data: { confirm: "Are you sure?" } %><br><%= link_to "Edit", edit_parking_path(parking) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
